annotated-types==0.7.0
av==13.1.0
beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
cloup==3.0.7
Cython==3.0.12
decorator==5.2.1
glcontext==3.0.0
idna==3.10
isosurfaces==0.1.2
Jinja2==3.1.6
lxml==5.3.2
manim==0.19.0
manim-slides==5.5.1
ManimPango==0.6.0
mapbox_earcut==1.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
networkx==3.4.2
numpy==2.2.5
packaging==25.0
pillow==11.2.1
pycairo==1.28.0
pydantic==2.11.3
pydantic-extra-types==2.10.3
pydantic_core==2.33.1
pydub==0.25.1
pyglet==2.1.4
pyglm==2.8.2
Pygments==2.19.1
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-pptx==1.0.2
QtPy==2.4.3
requests==2.32.3
rich==14.0.0
rtoml==0.12.0
scipy==1.15.2
screeninfo==0.8.1
shiboken6==6.9.0
skia-pathops==0.8.0.post2
soupsieve==2.7
srt==3.5.3
svgelements==1.9.6
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
watchdog==6.0.0
XlsxWriter==3.2.3
